<div class="container mb-4" id="margin-top-first-line">
    <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
        <span class="trail-begin">
            <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
        </span>
        <span class="sep"> » </span> <span class="trail-end">Gruppträning</span>

        <br />
        <h4 id="h5-gray">Gruppträning</h4>
    </div>

    <div class="card-deck">
        <div class="card">
            <img src="../../assets/4.jpg" style="width:100%;cursor:zoom-in"
                onclick="document.getElementById('modal01').style.display='block'" alt="Card image cap" />

            <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                <div class="w3-modal-content w3-animate-zoom" style="margin-top: 20px;">
                    <img src="../../assets/4.jpg" style="width:100%" />
                    <span class="close">&times;</span>
                    <div id="caption">picture</div>
                </div>
            </div>

            <div class="card-body" routerLink="/group-trainingevents">
                <h5 class="card-title text-center" id="h5-gray">Gruppträning</h5>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/3.jpg" style="width:100%;cursor:zoom-in"
                onclick="document.getElementById('modal02').style.display='block'" alt="Card image cap" />

            <div id="modal02" class="w3-modal" onclick="this.style.display='none'">
                <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                <div class="w3-modal-content w3-animate-zoom" style="margin-top: 20px;">
                    <img src="../../assets/3.jpg" style="width:100%" />
                    <span class="close">&times;</span>
                    <div id="caption">picture</div>
                </div>
            </div>
            <div class="card-body" routerLink="/events">
                <h5 class="card-title text-center" id="h5-gray">Gruppevent</h5>
            </div>
        </div>
    </div>
    <br />

    <p class="text-justify">
        Dance Together erbjuder gruppträning i lugn skön miljö. Vi arbetar med konceptet Fortgjort, där alla
        pass är 25 min långa. Du kan välja att vara med på ett två eller 3 pass i rad. <br>
        Företag, skolor och föreningar kan boka träning på ditt företag. I samband med träningen kan ni boka
        en föreläsning inom personlig utveckling och mental träning. Det finns färdiga föreläsningar eller så
        skräddarsyr vi efter önskemål. <br> <br>

        Pass vi erbjuder
        bilder
    </p>


    <div class="row row-cols-1 row-cols-md-6">

        <div class="row row-cols-1 row-cols-md-6 text-center" >
            <div class="col-lg-6">
                <img src="../../assets/14.jpg" class="card-img-top" alt="..." class="bd-placeholder-img rounded-circle"
                    style="width: 170px; height: 250px;">

                <h4><strong>Instruktör Camilla Wellsén</strong></h4>
                <p class="text-justify"> Camilla har stor erfarenhet av träning på både motion och tävlingsnivå. Genom sin egen svårighet med
                    koordination och inlärning har hon blivit en mycket pedagogisk och uppskattad instruktör som har
                    devisen att
                    alla
                    som vill kan lära sig. Som utbildad coach och mental tränare pushar Camilla dig att våga gå utanför
                    din
                    comfortzon. Att göra fel är inte ett problem. Det kanske tom leder till en ny variant.
                    Glädje o mod är ledord för Camilla.</p>

            </div>


            <div class="col-lg-6">
                <img src="../../assets/15.jpg" class="card-img-top" alt="..." class="bd-placeholder-img rounded-circle"
                    style="width: 200px; height: 250px;">

                <h4><strong>Instruktör 
                    Nooshin Olsson</strong></h4>
                <p class="text-justify"> Nooshin Olsson är en mycket uppskattad rutinerad instruktör som arbetat på både större och mindre
                    gymanläggningar. Hennes varma personlighet och ödmjukhet är precis det vi vill förmedla i Dance Together.
                    En instruktör som kommer pusha dig att prestera utifrån din förmåga och få dig att gå hem med ett leende på
                    läpparna..</p>

            </div>

        </div>



   
    </div>
    <p>


        
    </p>
</div>