<div class="container mb-4" id="margin-top-first-line">
    <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
            <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
        </span> <span class="sep"> » </span> <span class="trail-end">Gruppresor</span>
    
        <br>
        <h4>Gruppresor</h4></div>


    <div class="card-deck">
        <div class="card">
            <img src="../../assets/1.jpg" style="width:100%;cursor:zoom-in"
            onclick="document.getElementById('modal01').style.display='block'"   alt="Card image cap">
  
          <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
            <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
            <div class="w3-modal-content w3-animate-zoom" style="margin-top: 100px;">
              <img src="../../assets/1.jpg" style="width:100%">
              <span class="close">&times;</span>
              <div id="caption" >picture</div>
            </div>
          </div>

            <div class="card-body" routerLink="/seatings-chakra">
                <h5 class="card-title text-center" >Dansresor</h5>
            </div>
        </div>
        <div class="card">
                <img src="../../assets/7.jpg" style="width:100%;cursor:zoom-in"
                onclick="document.getElementById('modal02').style.display='block'"   alt="Card image cap">
      
              <div id="modal02" class="w3-modal" onclick="this.style.display='none'">
                <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                <div class="w3-modal-content w3-animate-zoom" style="margin-top: 100px;">
                  <img src="../../assets/7.jpg" style="width:100%">
                  <span class="close">&times;</span>
                  <div id="caption" >picture</div>
                </div>
              </div>
            <div class="card-body" routerLink="/courses-training">
                <h5 class="card-title text-center" >Gruppträning och meditationsresor</h5>

            </div>
        </div>


    </div> <br>

    <p class="text-justify">

      Följ med Dance Together på en resa till värmen. Vi arrangerar resor till Cypern och Kroatien.
      Du kan boka in dig på en härlig vecka med massa skön träning och avslappnade meditation. Du väljer
      själv vilka pass du vill deltag på. Njut av sol och bad och lugn och ro. Utforska området och kulturen
      och den lokala maten. En dag avsätter vi till utflykt.
      
      Eller en vecka fylld med dansworkshops och kvällar fyllda med dans. Vi startar med workshop på
      morgonen efter frukost för att sedan få tid att njuta av sol bad och lugn och ro. Efter middagen så
      dansar vi ett par timmar och ser på den fantastiska solnedgången. En dag avsätter vi för utflykt.
      Boka in en underbar resa där du fyller på med massa energi och glädje och har chans att träffa
      vänner för livet.</div>

