
  <div class="container" id="margin-top-first-line">
  
    <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
            <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
        </span> <span class="sep"> » </span> <span class="trail-end">DansKurser</span>
    
        <br>
        <h4>DansKurser</h4></div>


    <p class="text-justify">

      Hos Dance Together kan du boka in dig på våra kurser och dansevent. Du kan också boka oss för att hålla kurs
      på din ort i din förening, skola eller på ditt företag. I samband med danskurs kan ni boka föreläsning inom
      personlig utveckling och mental träning. Det finns färdiga föreläsningar eller så skräddarsyr vi efter behov. Vi
      arrangerar även dansevent där vi tar in andra instruktörer. Vill ni komma till oss så hör gärna av dig. Vi
      samarbetar med Vretstorps Folketshus och park och arrangerar sommarkurser och dans i parken.
      <br>
    </p>
    
    <div class="row row-cols-1 row-cols-md-6 text-center">
      <div class="col-lg-12">
          <img src="../../assets/14.jpg" class="card-img-top" alt="..." class="bd-placeholder-img rounded-circle"
              style="width: 170px; height: 170px;">

          <h4>Instruktörer Camilla Wellsén</h4>
          <p class="text-justify">      Mental träning är en del i Camillas arbete och även ett stort intresse. När du är på danskurs inspirerar hon dig att
            ha roligt och att våga genom att coacha dig mentalt. Hon är utbildad instruktör i svenska danssportförbundet och
            har gått instruktörsutbildning hos Tobias Wallin (känd från Lets Dance). Hennes drivkraft är att ständigt utveckla
            sin egen dans för att sedan få lära ut till andra. Camilla har en passion att dansa som förare, och är kursledare i
            modern fox i båda rollerna. De kurser hon själv går är oftast som förare. Hennes mottot är - Du blir bra på det du
            gör. Bakom alla framgångsrika ligger alltid ett stort arbete så älskar du dans så är du på god väg.</p>

      </div>


      <div class="col-lg-6">
          <img src="../../assets/12.jpg" class="card-img-top" alt="..." class="bd-placeholder-img rounded-circle"
              style="width: 170px; height: 170px;">

          <h4>Instruktörer 
            Stefan Ericsson</h4>
          <p class="text-justify">     Stefan har lett buggkurser i över 30 år och är en uppskattad pedagogisk ledare med glimten i ögat. Genom sitt
            sätt att vara får han dig att slappna av och känna dig välkommen på kursen. Hans kunskap sitter i ryggraden och
            på ett enkelt sätt lär han ut turer och stegkombinationer. Plötsligt har du lärt dig en avancerad tur, utan att du vet
            om det. Både Camilla och Stefan har haft det jobbigt med egen inlärning vilket gör att de har en stor förståelse för
            att vi lär oss saker på olika sätt. Deras inställning när de håller kurs är att alla kan lära sig dansa, br det tar bara
            olika lång tid.</p>

      </div>

      
      <div class="col-lg-6">
        <img src="../../assets/21.jpg" class="card-img-top" alt="..." class="bd-placeholder-img rounded-circle"
            style="width: 170px; height: 170px;">

        <h4>Instruktörer 
          Milla Olsson</h4>
        <p class="text-justify"> I modern fox leder Camilla kurs med Milla Olsson som under fler år varit en av hjälpdansarna i Foxfusion. Nu har
          hon tagit steget att leda egna kurser. Milla är en glad sprallig tjej och precis som sitt blåa hår tillför hon massa
          dynamik i sin dans. Hon är en väldigt skicklig förare och uppskattad för sin kreativitet i dansen. Med stil och
          elegans inspirerar hon dig att skapa din egen variation av de stegkombinationer hon lär ut..</p>

    </div>

  </div>



</div>

