<div class="container mb-4" id="margin-top-first-line">

    <div class="template" data-mobile-view="false">



        <div class="Preview_row__3Fkye row" style="width:1000px">
            <div data-id="0AC6273D-C9B5-4AE8-86B4-999DE7370DA5" data-kind="TEXT"
                style="width:590px;margin-top:62px;margin-left:205px"
                class="Preview_componentWrapper__2i4QI">
                <div data-id="0AC6273D-C9B5-4AE8-86B4-999DE7370DA5" data-kind="Component" data-specific-kind="TEXT"
                    class="Preview_component__SbiKo text-align-undefined">
                    <div data-mve-font-change="0" class="styles_contentContainer__lrPIa textnormal styles_text__3jGMu">
                        <h1 class="textheading1" style="color: rgb(95, 95, 95);">DansKurs</h1>

                        <h1 class="textheading1">2020</h1>
                        <p class="mobile-undersized-upper">Planering pågår. Mer information kommer.</p>
                        <p class="mobile-undersized-upper">&nbsp;</p>
                        <p class="mobile-undersized-upper"><span style="font-weight: bold;">Januari</span></p>
                        <p class="mobile-undersized-upper">2020-01-25--26</p>
                        <p class="mobile-undersized-upper">Helgkurs i fox - Fifty Shades with Your Partner, Bollnäs</p>
                        <p class="mobile-undersized-upper">Instruktörer <a class="link1" style="color: #3663a8;"
                                href="https://www.facebook.com/Camilia.moork">Camilia</a> och <a class="link1"
                                style="color: #3663a8;" href="https://www.facebook.com/CamiliaMoork">Camilia</a></p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="https://dans.se/DansKurs/shop/?event=93687">Anmälan och information</a></p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="https://www.facebook.com/Camilia/2266295926819151/">Facebookevent</a></p>
                        <p class="mobile-undersized-upper"><br></p>
                        <p class="mobile-undersized-upper"><span style="font-weight: bold;">Februari</span></p>
                        <p class="mobile-undersized-upper">2020-02-01--02</p>
                        <p class="mobile-undersized-upper">Fox Fascination - Feel the Magiq - <a class="link1"
                                href="http://www.kalmarhappydance.com">Kalmar HAPPY DanceClub</a> (<span
                                style="color: rgba(145,0,0,1);">Fullbokad</span>)</p>
                        <p class="mobile-undersized-upper">Instruktörer <a class="link1" style="color: #3663a8;"
                                href="https://www.facebook.com/Camilia.moork">Camilia</a> och&nbsp;<a class="link1"
                                href="https://www.facebook.com/victoria.schirman">Victoria</a></p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="https://www.kalmarhappydance.com/boka-kurs-haer">Anmälan och information</a></p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="https://www.facebook.com/Camilia/2258230360908726">Facebookevent</a></p>
                        <p class="mobile-undersized-upper"><br></p>
                        <p class="mobile-undersized-upper"><span style="font-weight: bold;">Mars</span></p>
                        <p class="mobile-undersized-upper">2020-03-07--08</p>
                        <p class="mobile-undersized-upper">DansKurs, Dansklubben Swing, Växjö</p>
                        <p class="mobile-undersized-upper">Instruktörer <a class="link1" style="color: #3663a8;"
                                href="https://www.facebook.com/Camilia.moork">Camilia</a> och <a class="link1"
                                style="color: #3663a8;" href="https://www.facebook.com/CamiliaMoork">Camilia</a></p>
                        <p class="mobile-undersized-upper">Anmälan och information</p>
                        <p class="mobile-undersized-upper">Facebookevent</p>
                        <p class="mobile-undersized-upper"><br></p>
                        <p class="mobile-undersized-upper">2020-03-14--15</p>
                        <p class="mobile-undersized-upper">DansKurs<sup>@</sup> 3D-fox, DansKurs, Camilia</p>
                        <p class="mobile-undersized-upper">Instruktörer <a class="link1" style="color: #3663a8;"
                                href="https://www.facebook.com/Camilia.moork">Camilia</a> och <a class="link1"
                                style="color: #3663a8;" href="https://www.facebook.com/birgitte.lunn">Birgitte</a></p>
                        <p class="mobile-undersized-upper">Anmälan och information: e-post till
                            kalle.palo.firman@telia.com</p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="https://www.facebook.com/Camilia/2029611777142243/">Facebookevent</a></p>
                        <p class="mobile-undersized-upper">&nbsp;</p>
                        <p class="mobile-undersized-upper"><span style="font-weight: bold;">April</span></p>
                        <p class="mobile-undersized-upper">2020-04-10--12</p>
                        <p class="mobile-undersized-upper">Sveriges foxfestival - Stockholm (<span
                                style="color: rgba(145,0,0,1);">Fullbokad</span>)</p>
                        <p class="mobile-undersized-upper">Instruktörer <a class="link1" style="color: #3663a8;"
                                href="https://www.facebook.com/Camilia.moork">Camilia</a> och <a class="link1"
                                style="color: #3663a8;"
                                href="https://www.facebook.com/CamiliaMoork">Camilia</a>&nbsp;mfl</p>
                        <p class="mobile-undersized-upper">Anmälan och information</p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="https://www.facebook.com/Camilia/1337460069729985/">Facebookevent</a></p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="http://sverigesfoxfestival.se">Hemsida</a></p>
                        <p class="mobile-undersized-upper"><br></p>
                        <p class="mobile-undersized-upper">2020-04-25--26</p>
                        <p class="mobile-undersized-upper">Avancerad DansKurs - I Båda Rollerna - Dans &amp; Event,
                            Dalarna</p>
                        <p class="mobile-undersized-upper">Instruktörer <a class="link1" style="color: #3663a8;"
                                href="https://www.facebook.com/Camilia.moork">Camilia</a> och <a class="link1"
                                style="color: #3663a8;" href="https://www.facebook.com/CamiliaMoork">Camilia</a></p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="https://dans.se/danseventdalarna/shop/?event=92715">Anmälan och information</a>
                        </p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="https://www.facebook.com/Camilia/920206478315698/">Facebookevent</a></p>
                        <p class="mobile-undersized-upper"><br></p>
                        <p class="mobile-undersized-upper"><span style="font-weight: bold;">Maj</span></p>
                        <p class="mobile-undersized-upper">2020-05-02--03</p>
                        <p class="mobile-undersized-upper">Helgurs i fox - Stilig och Elegant, Trolldansarna, Sundsvall
                        </p>
                        <p class="mobile-undersized-upper">Instruktörer <a class="link1" style="color: #3663a8;"
                                href="https://www.facebook.com/Camilia.moork">Camilia</a> och&nbsp;<a class="link1"
                                href="https://www.facebook.com/victoria.schirman">Victoria</a><a class="link1"
                                style="color: #3663a8;" href="https://www.facebook.com/birgitte.lunn"></a></p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="https://dans.se/shop/?org=trolldansarna&amp;event=95765">Anmälan och
                                information</a></p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="https://www.facebook.com/Camilia/1131157093740781/">Facebookevent</a></p>
                        <p class="mobile-undersized-upper"><br></p>
                        <p class="mobile-undersized-upper">2020-05-23--24</p>
                        <p class="mobile-undersized-upper">Helgkurs, Nora Stadshotell</p>
                        <p class="mobile-undersized-upper">Instruktörer <a class="link1" style="color: #3663a8;"
                                href="https://www.facebook.com/Camilia.moork">Camilia</a> och <a class="link1"
                                style="color: #3663a8;" href="https://www.facebook.com/CamiliaMoork">Camilia</a></p>
                        <p class="mobile-undersized-upper">Anmälan och information</p>
                        <p class="mobile-undersized-upper">Facebookevent</p>
                        <p class="mobile-undersized-upper"><br></p>
                        <p class="mobile-undersized-upper"><span style="font-weight: bold;">Juni</span></p>
                        <p class="mobile-undersized-upper">&nbsp;</p>
                        <p class="mobile-undersized-upper"><span style="font-weight: bold;">Juli</span></p>
                        <p class="mobile-undersized-upper">2020-07-11</p>
                        <p class="mobile-undersized-upper">Helgkurs i fox - Sommarfox 3.0, <a class="link1"
                                href="http://logenmittiskogen.se">Logen Mitt I Skogen</a>, Blomsterhult</p>
                        <p class="mobile-undersized-upper">Instruktörer <a class="link1" style="color: #3663a8;"
                                href="https://www.facebook.com/Camilia.moork">Camilia</a> och <a class="link1"
                                style="color: #3663a8;"
                                href="https://www.facebook.com/anncharlotte.ekberg">Ann-Charlotte</a></p>
                        <p class="mobile-undersized-upper">Anmälan och information</p>
                        <p class="mobile-undersized-upper"><a class="link1"
                                href="https://www.facebook.com/Camilia/426536458067582/">Facebookevent</a></p>
                        <p class="mobile-undersized-upper"><br></p>
                        <p class="mobile-undersized-upper"><span style="font-weight: bold;">Augusti</span></p>
                        <p class="mobile-undersized-upper">&nbsp;</p>
                        <p class="mobile-undersized-upper"><span style="font-weight: bold;">September</span></p>


                        <p class="mobile-undersized-upper"><span style="color: rgba(0,0,0,1);">2015-12-05--06 (lördag
                                och söndag)</span></p>
                        <p class="mobile-undersized-upper"><a class="link1" style="color: #3663a8;">Helgkurs i fox -
                                DansKurs för tjejer - Danshallen i Karlskoga</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>