<div class="container mb-4" id="margin-top-first-line">
    <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
            <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
        </span> <span class="sep"> » </span> <span class="trail-end">Gruppresor</span><span class="sep"> » </span> <span class="trail-end">Dansresor</span>
    
        <br><br>
        <strong >Gruppresor</strong></div>
    <p class="text-justify">

      Följ med Dance Together på en resa till värmen. Vi arrangerar resor till Cypern och Kroatien. <br>
      Du kan boka in dig på en härlig vecka med massa skön träning och avslappnade meditation. Du väljer
      själv vilka pass du vill deltag på. Njut av sol och bad och lugn och ro. Utforska området och kulturen
      och den lokala maten. En dag avsätter vi till utflykt. <br><br>
      
      Eller en vecka fylld med dansworkshops och kvällar fyllda med dans. Vi startar med workshop på
      morgonen efter frukost för att sedan få tid att njuta av sol bad och lugn och ro. Efter middagen så
      dansar vi ett par timmar och ser på den fantastiska solnedgången. En dag avsätter vi för utflykt. <br><br>
      Boka in en underbar resa där du fyller på med massa energi och glädje och har chans att träffa
      vänner för livet.</div>

