<div class="container mb-4" id="margin-top-first-line">
    <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
            <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
        </span> <span class="sep"> » </span> <span class="trail-end">Galleri</span>
    </div>
    <br>


    <div class="row" id="height-first-group">
        <div class="column">
            <img src="../../assets/2.jpg" style="width:300px; height: 220px;"
                onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../../assets/8.jpg" style="width:300px; height: 220px;"
                onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="../../assets/4.jpg" style="width:300px; height: 220px;"
                onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="https://www.w3schools.com/howto/img_lights.jpg" style="width:300px; height: 220px;"
                onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="https://www.w3schools.com/howto/img_lights.jpg" style="width:300px; height: 220px;"
                onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="https://www.w3schools.com/howto/img_lights.jpg" style="width:300px; height: 220px;"
                onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
        </div>
    </div>

    <div id="myModal" class="modal">
        
        <div class="modal-content">

            <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                <img src="../../assets/2test.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 4</div>
                <img src="../../assets/8test.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 4</div>
                <img src="../../assets/4.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 4</div>
                <img src="https://www.w3schools.com/howto/img_lights_wide.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">4 / 4</div>
                <img src="https://www.w3schools.com/howto/img_lights_wide.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">4 / 4</div>
                <img src="https://www.w3schools.com/howto/img_lights_wide.jpg" style="width:100%">
            </div>
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <div class="card-group" id="photo-gallery2">
                <div class="column">
                    <img class="demo cursor" src="../../assets/2.jpg"
                        style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
                </div>
                <div class="column">
                    <img class="demo cursor" src="../../assets/8.jpg" style="width:100%"
                        onclick="currentSlide(2)" alt="Snow">
                </div>
                <div class="column">
                    <img class="demo cursor" src="../../assets/4.jpg"
                        style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                </div>
                <div class="column">
                    <img class="demo cursor" src="https://www.w3schools.com/howto/img_lights_wide.jpg"
                        style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                </div>
                <div class="column">
                    <img class="demo cursor" src="https://www.w3schools.com/howto/img_lights_wide.jpg"
                        style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                </div>
                <div class="column">
                    <img class="demo cursor" src="https://www.w3schools.com/howto/img_lights_wide.jpg"
                        style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                </div>
            </div>
        </div>
    </div>



    
</div>