
      * {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        }

        body {
          background-color: #f1f1f1;

        }

        #h5-gray {
          color: gray;
        }
        h5, img {
          cursor: pointer;
          color: gray;
        }
        #margin-top-first-line {
            margin-top: 120px;
        }
        #color-white {
          color: white;
        }
        
        #myBtn {
            display: none;
            position: fixed;
            bottom: 200px;
            right: 30px;
            z-index: 99;
            font-size: 25px;
            border: 4px solid rgb(185, 179, 179) !important;
            color: white;
            cursor: pointer;
            border-radius: 100%;
            background-color: rgb(185, 179, 179);
          }
          
          #myBtn:hover {
            background-color: gray;
          }
        
        
        
          /* picture close and writing */
          
        #caption {
          margin: auto;
          display: block;
          animation-name: zoom;
          animation-duration: 0.6s;  
          text-align: center;
          color: #ccc; 
          margin-top: -30px;
        }
        
        @keyframes zoom {
          from {transform:scale(0)}
          to {transform:scale(1)}
        }
        .close {
          position: absolute;
          top: 15px;
          right: 35px;
          color: #f1f1f1;
          font-size: 40px;
          font-weight: bold;
          transition: 0.3s;
        }
        
        .close:hover,
        .close:focus {
          color: #bbb;
          text-decoration: none;
          cursor: pointer;
        }
