<div class="container" id="margin-top-first-line">
  <!-- <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
      <span class="trail-begin">
        <a
          routerLink="/home"
          title="- för din personliga utveckling"
          rel="home"
          class="trail-begin"
          >Hem</a
        >
      </span>
      <span class="sep"> </span> <span class="trail-end"></span>
    </div> -->
  <div id="demo" class="main carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img d-block w-100 src="../../assets/6.jpg" alt="Los Angeles" />
        <div class="container">
          <div class="carousel-caption text-center">
            <h1 class="font-italic" id="color-white"></h1>
            <h4 class="font-italic"></h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/8test.jpg" alt="Chicago" />
        <div class="container">
          <div class="carousel-caption text-center">
            <h1 class="font-italic" id="color-white">Danskurser</h1>
            <h4 class="font-italic">
              Danskurser bugg och modern fox,dansevent,privatlektioner
            </h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/4.jpg" alt="New York" />
        <div class="container">
          <div class="carousel-caption text-center">
            <h1 class="font-italic" id="color-white">Gruppträning</h1>
            <h4 class="font-italic">
              Gruppträning,event,meditation,föreläsning
            </h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/1.jpg" alt="New York" />
        <div class="container">
          <div class="carousel-caption text-center">
            <h1 class="font-italic" id="color-white">Gruppresor</h1>
            <h4 class="font-italic">
              Gruppträning,meditation,dansevent,dansworkshops
            </h4>
          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <div class="text px-0">
    <h4 class="font-italic">Vill du lära dig dansa? Eller utveckla den kunskap och kompetens du har
      idag. Alla kan dansa- Vi behöver bara olika lång tid för att lära oss.</h4>
    <p class="lead font-italic my-3">
      <strong>Dance Together erbjuder danskurser, gruppträning, event och resor.</strong>
      Danskurser inom modern fox och bugg. Vi vänder oss till dig som vill dansa för att du tycker det är roligt. De
      kurser vi håller är skapade för att socialdansa. Ute på dansbanor, folkparker, firmafesten eller hemma i
      vardagsrummet. Dance Together är ett biföretag till Rise and Shine i Örebro AB. Företaget ägs och drivs av
      Camilla Wellsén.
      Dance Together kom till då Camilla tillsammans med Stefan Ericsson ledde kurser i bugg på dansklubben
      Rockrullarna i Örebro och ofta fick förfrågningar om att hålla kurser utanför klubben. Camilla brann för den
      moderna foxen och ville även börja leda foxkurser. Då ej möjligheten fanns att leda fox på klubben startades
      företaget. Tillsammans med Stefan har Camilla lett flera kurser i både bugg och modern fox.
      Camilla gillar personlig utveckling och åker ofta på kurser och utbildningar inom dans för att bli en bättre
      dansare
      och för att få inspiration till nya kurser. Hon dansar också Kizomba, West Coast Swing och Argentinsk Tango
      Dessa stilar vävs in i den moderna foxen. Som licensierad mental tränare guidar hon inte bara dina danssteg
      utan hur du kan tänka mentalt för att bli en bättre dansare.
      Stefan Ericsson har varit med från början och startade upp Dance Together, idag håller de tillsammans
      buggkurser och arrangerar dansevent.
      Gruppträning
      I samarbete med konceptet Fortgjort leder vi gruppträning. Alla pass är 25 min långa. Här vänder vi oss till dig
      som vill träna i lugn skön miljö och vill träna för att må bättre. Du kan välja att deltaga på ett två eller 3
      pass. Det
      finns både lugna pass och fartfyllda pass. Du tränar utifrån din egen förutsättning.
      Företag, skolor och föreningar
      Välkommen att boka danskurser och gruppträningspass. I samband med dans eller träning kan vi
      erbjuda föreläsning inom personlig utveckling och mental träning. Det finns färdiga föreläsningar eller så
      skräddarsyr vi efter önskemål.
    </p>
  </div>

  <div class="card-deck">
    <div class="card" style="border: none; background-color: inherit;">
      <div class="col-md-8" style="border: none; background-color: inherit; margin-left: 10%">
        <img src="../../assets/5.png" onclick="document.getElementById('modal01').style.display='block'"
          alt="Card image cap" />
      </div>
      <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom" style=" width: 30%; height: 100%;">
          <img src="../../assets/5.png" style="width: 100%; height: 100%;" />
          <span class="close">&times;</span>
          <div id="caption">picture</div>
        </div>
      </div>

      <h5 class="card-title">Rise and Shines vision</h5>
      <p class="card-text">
        Att med enkla medel få till en långsiktig hållbar förändring i
        samhället. Där fokus ligger på friskvård och eget ansvar. Där vi
        tillsammans verkar för en friskare bättre värld.
      </p>
    </div>

    <div class="card col-md-5" style="border: none; background-color: inherit; ">
      <img src="../../assets/7.jpg" onclick="document.getElementById('modal02').style.display='block'"
        alt="Card image cap" />

      <div id="modal02" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom" style=" width: 30%; height: 100%;">
          <img src="../../assets/7.jpg" style="width: 100%; height: 100%;" />
          <span class="close">&times;</span>
          <div id="caption">picture</div>
        </div>
      </div>

      <h5 class="card-title"></h5>
      <p class="card-text">

      </p>
    </div>

  </div>
  <br />


</div>