@import '../../_colors.scss';

card-img-top {
    cursor: pointer;
  }
  
  img {
    width: 100%;
    height: 400px;
  }
  
  .main {
    padding-bottom: 10px;
  }
  
  .carousel-inner img {
    vertical-align: middle;
    border-style: none;
    height: 100%;
  }
  
  h1 {
    color: $dark-gray;
  }
  #color-gray {
    color: rgb(51, 49, 49);
    font-weight: bold;
   
  }
  
  .card-deck img {
    width: 90%;
    height: 550px;
  }
  
  .text p {
    font-size: 15px;
  }

  

 #home-side-images {
          
  align-items: center;
  border: none; background-color: inherit; 
 }

  
  @media only screen and (max-width: 1450px) and (min-width: 850px) {
    #home-side-images {
      max-width:550px;
      align-items: center;
      margin: 0;
          padding: 0;
  }
      }
    @media only screen and (max-width: 850px)and (min-width: 650px) {
     #matter{
       color: blue;
     }
      #home-side-images img{
          width:220px;
          align-items: center;
          margin: 0;
          padding: 0;
      }
      .card{
        margin: 0;
        padding: 0;
        
      }
      }
      @media only screen and (max-width: 650px) and (min-width: 580px)  {
        .carousel-item img {
          height: 250px;
          width: 400px;
      }
      #matter{
        color: red;
      }
      .card-deck{
        margin: 0;
        padding: 0;
        
      }
            #home-side-images img{
              height:  200px;           
              align-items: center;            
             }
         }